.canvas {
    border: 1px solid;
}
#content {
    position: relative;
    width: 800px;
    height: 480px;
}
#asset {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
}
#button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.my_audio {
    display: none;
}
#play {
    position: absolute;
    left: 5px;
    top: 5px;
}
#stop {
    position: absolute;
    left: 50px;
    top : 5px;

}
button {
    background: transparent;
    border: none !important;
    font-size:0;
}
#instructions {
    position: absolute;
    top: 210px;
    left: 10px;
}
#instrWhileGameOver {
    position: absolute;
    top: 50px;
    left: 10px;
    display: none;
}
#score {
    position:absolute;
    top : 5px;
    left: 700px;
    font-family: Arial, serif;
    font-size: 22px;
}